header {
  background-color: #734900;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

header img {
  width: 100px;
  height: 90px;
  border-radius: 50%
}
nav a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

